body{
  background-color: rgba(73, 53, 72, 1);
}


/* this color is not working */
.navbar{
  background-color:  rgb(43, 3, 39); 
}

.logo{
  font-family:'Pacifico', cursive;
  color:#f50057;
  font-size: 28px;
}

#coverphotocontainer{
  background-image: "https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" ;
  width:100%;
  height: 500px;
  
}

.userInput{
color: white;
}

.card{
  margin: 10px;

}

/* the color not working */
.footer{
  background-color: rgb(43, 3, 39);
}

