body{
  background-color: rgba(73, 53, 72, 1);
}

header{
z-index: 1000;
position: fixed;
top:  0;
left: 0;
width: 100%;
}
.navbar{
  background-color:  rgb(43, 3, 39); 
}

.logo{
  font-family:'Pacifico', cursive;
  color:#f50057;
  font-size: 28px;
}


#searchBtn{
  float: right;
}

.prompt{
  color: black;
}



.userInput{
color: white;
}

.card{
  margin: 10px;

}

/* the color not working */
.footer{
  background-color: rgb(43, 3, 39);
}
